<!DOCTYPE html>
<html lang="fr" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Site web de l'Ale-Escalade</title>

    <link rel="stylesheet" href="../View/Design/AccueilEvenement.css">
    <link rel="stylesheet" href="../View/Design/HeaderFooter.css">
</head>

<body>
    <section class="listeEvenement">
        <h1>Les évenements :</h1>

        <form class="creerEvenement" action="../Controler/CreerEvenement.ctrl.php" method="post">
            <div class="boutonCreer">
                <input type="submit" name="creer" value="Ajouter un évenement">
            </div>
        </form>

    </section>

    </section>

</body>

</html>